name: 01 - Building Blocks

on:
  - workflow_dispatch

jobs:
  echo-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Failed step
        run: |
          echo "I will not fail"
          exit 0
      - name: Say goodbye
        run: echo "Goodbye!"
