name: 04 - Using Actions

on:
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "./react-app/pnpm-lock.yaml"
      - name: Install Dependencies
        working-directory: ./react-app
        run: pnpm install --frozen-lockfile
      - name: List react-app contents
        working-directory: ./react-app
        run: ls -la react-app
