name: 04 - Using Actions

on:
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Print folders
        working-directory: ./react-app
        run: echo */
