name: 05 - 1 - Event filters and activity types

on:
  pull_request:
    branches:
      - main
    types:
      - opened

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Echo on pr open
        run: echo "pr opened"
