name: 05 - 2 - Filter and Activity types

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: On pr closed
        run: I am running on closed pr
