name: 13 - Caching

on:
  workflow_dispatch:
    inputs:
      use-cache:
        type: boolean
        default: true
        description: Do you want to execute cache step?

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./react-app
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
          cache-dependency-path: 'react-app/pnpm-lock.yaml'
      - run: pnpm install --frozen-lockfile
      - run: pnpm test
      - run: pnpm build
      - run: echo "Deploying to nonprod"
          


