name: 14 - Matrices

on:
  workflow_dispatch:

jobs:
  echo-matrix:
    name: ${{matrix.greeting}} - ${{matrix.who}} - ${{matrix.image}} - ${{matrix.dir}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        greeting: [Hello, Hi, Hey]
        who: [World, GitHub, Actions]
        include:
          - image: pc
          - dir: pc-fe
          - image: cc
          - dir: cc-fe
    steps:
      - name: Echo greeting
        run: |
          if ${{matrix.greeting == 'Hi'}}; then
            exit 1
          else 
            echo ${{matrix.greeting}} - ${{matrix.who}} - ${{matrix.image}} - ${{matrix.dir}}
          fi
      - name: Echo image
        run: echo ${{matrix.image}} - ${{matrix.dir}}