name: 17.2 - Custom actions (JS)

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Echo title
        uses: ./.github/actions/title-logger
        with:
          title: ${{github.event.pull_request.title}}
